*{
    box-sizing: border-box;
}

body{
    margin: 0;
}
.logo{
    width: 50px;
}

.navbar{
    background-color: red;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.navbar-content{
    color: white;
    text-decoration: none;
}

.navbar-content:hover{
    color: #777;
    
}

.site-title{
   font-size: 2rem; 
   color: white;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
}

